.resource-details {
  width: 980px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.metadata-container {
}

.metadata-container > ul {
  padding: 0;
  margin: 0;
}
.metadata-container > .name {
  font-size: 3em;
  font-weight: lighter;
}

.layers-container {
  margin-bottom: 1em;
}
