.dropdown {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  opacity: 0;
  pointer-events: none;
  padding: 1em;
  transform: translateY(2px);
  position: absolute;
  transition: 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  white-space: nowrap;
}

.down {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateY(10px);
}