.tab-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  max-width: 250px;
}

.tab-item > .title {
  /* font-size: 1em; */
  font-weight: bold;
}

.tab-item > .description {
  white-space: normal;
  line-height: 1.2em;
  color: rgba(0, 0, 0, 0.5);
}
