@import "./colors.css";

@keyframes fadeInAlmost {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.3;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


@keyframes changeInColors {
  0% {
    stroke: var(--primary);
  }
  50% {
    stroke: var(--highlight);
  }
}
