body {
  background-color: #f1f4f8;
}

/* React App Root */
#root {
  font-family: sans-serif;
  display: flex;
  flex-flow: row wrap;
  padding: 1em;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
