/* @import "../node_modules/antd/dist/antd.css"; */

.App {
  font-family: sans-serif;
  display: flex;
  flex-flow: row wrap;
  background-color: #fafbfc;
}

.Sparql {
  display: flex;
}

.Header {
  flex: 1 100%;
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  background-color: white;
}
.Header_logo {
  width: 3em;
  height: 3em;
  position: absolute;
  left: 50%;
}
.Header_auth {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
  width: 3em;
  height: 3em;
}

.Filters {
  min-width: 200px;
  min-height: 200px;
  background-color: blue;
}

.Results {
  min-width: 200px;
  flex-grow: 1;
  padding: 2em;
}

.ant-table {
  background-color: white;
}
